body {
  background-image: url('./images/bg_landingPage.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.leaflet-popup-content{
  margin: 0;
  
}

.leaflet-popup-content-wrapper {
  padding: 0px;
  text-align: left;
  border-radius: 0.25rem;
}

.leaflet-container a.leaflet-popup-close-button{
  color: white;
}

.leaflet-container a.leaflet-popup-close-button:hover{
  color: white;
}