@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* CSS HEX */
    --thistle: #f4f4f4;
    --ash-gray: #b8c4b9ff;
    --white: #ffffffff;
    --denim: #275dadff;
    --rose-red: #E83151;
    --but-green: #B4bbda;
    --besslans-color: #315a49c4;
    /* CSS custom theme */
    --color-text-base: #ffffff;
    --color-text-muted: #d7d5d5;
    --color-text-inverted: #4f46e5;
    --color-fill: #4338ca;
    --color-button-primary: #ffffff;
    --color-button-primary-hover: #d7d5d5;
    --color-button-secondary: #6366f1;
  }

  .theme-pink {
    /* TextColors */
    --color-text-base: #f4f4f4;
    --color-text-inverted: #262322;
    --color-text-primary: #bdb2c9;
    --color-text-secondary: #383740;
    --color-text-outline-hover: #383740;
    --color-text-form-error: var(--rose-red);
    /* Background-Colors */
    --color-fill: var(--thistle);
    --color-button-primary: #ffffff;
    --color-button-primary-hover: #d7d5d5;
    --color-button-secondary: #315a49c4;
    --color-button-secondary-hover: #315a49;
    --color-button-outline: #ffffff00;
    --color-button-outline-hover: var(--color-text-base);
    /* BorderColors */
    --color-border-outline: var(--color-text-base);
    --color-border-outline-hover: #3b82f600;
    --color-border-google-hover: var(--besslans-color)
  }

  .theme-secondary {
    --color-text-base: #383740;
    --color-text-inverted: #ffffff;
    --color-text-primary: #bdb2c9;
    --color-text-secondary: #f4f4f4;
    --color-text-outline-hover: var(--color-fill);
    /* Background-Colors */
    --color-fill: #f1f3f1;
    --color-button-primary: #383740;
    --color-button-primary-hover: #d7d5d5;
    --color-button-secondary: #D56F3E;
    --color-button-outline: #ffffff00;
    --color-button-outline-hover: var(--color-text-base);
    /* BorderColors */
    --color-border-outline: var(--color-text-base)
  }
}