@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-text-base: #ffffff;
    --color-text-muted: #d7d5d5;
    --color-text-inverted: #4f46e5;
    --color-fill: #4338ca;
    --color-button-primary: #ffffff;
    --color-button-primary-hover: #d7d5d5;
    --color-button-secondary: #6366f1;
  }

  .theme-hero {
    /* TextColors */
    --color-text-base: #f4f4f4;
    --color-text-inverted: #383740;
    --color-text-primary: #bdb2c9;
    --color-text-secondary: #383740;
    --color-text-outline-hover: var(--color-fill);
    /* Background-Colors */
    --color-fill: #bdb2c9;
    --color-button-primary: #ffffff;
    --color-button-primary-hover: #d7d5d5;
    --color-button-secondary: #DB5461;
    --color-button-outline: #ffffff00;
    --color-button-outline-hover: var(--color-text-base);
    /* BorderColors */
    --color-border-outline: var(--color-text-base)
  }

  .theme-secondary {
    --color-text-base: #383740;
    --color-text-inverted: #ffffff;
    --color-text-primary: #bdb2c9;
    --color-text-secondary: #f4f4f4;
    --color-text-outline-hover: var(--color-fill);
    /* Background-Colors */
    --color-fill: #b8c4b9;
    --color-button-primary: #383740;
    --color-button-primary-hover: #d7d5d5;
    --color-button-secondary: #D56F3E;
    --color-button-outline: #ffffff00;
    --color-button-outline-hover: var(--color-text-base);
    /* BorderColors */
    --color-border-outline: var(--color-text-base)
  }

  .theme-3 {
    --color-text-base: #f4f4f4;
    --color-text-inverted: #383740;
    --color-text-primary: #383740;
    --color-text-secondary: #383740;
    --color-text-outline-hover: var(--color-fill);
    /* Background-Colors */
    --color-fill: #383740;
    --color-button-primary: #bdb2c9;
    --color-button-primary-hover: #d7d5d5;
    --color-button-secondary: #b8c4b9;
    --color-button-outline: #ffffff00;
    --color-button-outline-hover: var(--color-text-base);
    /* BorderColors */
    --color-border-outline: var(--color-text-base)
  }

  .theme-4 {
    --color-text-base: #383740;
    --color-text-inverted: #fff;
    --color-text-primary: #383740;
    --color-text-secondary: #383740;
    --color-text-outline-hover: var(--color-fill);
    --color-text-form-error: #ef4444;
    /* Background-Colors */
    --color-fill: #fff;
    --color-button-primary: #bdb2c9;
    --color-button-primary-hover: #d7d5d5;
    --color-button-secondary: #7f1d1d;
    --color-button-secondary-hover: #ef4444;
    --color-button-outline: #ffffff00;
    --color-button-outline-hover: #ffffff00;
    /* BorderColors */
    --color-border-outline: #a1a2a2;
    --color-border-outline-hover: #3b82f6
  }
}